.ammapAlert
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    font-family:robot, sans-serif, helvetica, arial, sans-serif, sans-serif,helvetica,arial,sans-serif;
    font-size:12px;
    color:#CC0000;
}

.ammapDescriptionWindow
{
   font-size:11px;
   font-family:"Roboto", sans-serif, helvetica, arial, sans-serif,helvetica,arial,sans-serif;
   background-color:#FFFFFF;
   border-style:solid;
   border-color:#DADADA;
   border-width:1px;
   color:#000000;
   padding:8px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.ammapDescriptionTitle
{
   font-size:12px;
   font-weight:bold;
   font-family:"Roboto", sans-serif, helvetica, arial, sans-serif, helvetica, arial, sans-serif,helvetica,arial,sans-serif;
   padding-bottom:5px;
}

.ammapDescriptionWindowCloseButton
{

}

.ammapObjectList ul
{
    padding-left:20px;
    list-style:square outside;
    color:#999999;
    font-family:robot, sans-serif, helvetica, arial, sans-serif, sans-serif, helvetica, arial, sans-serif,helvetica,arial,sans-serif;
    font-size: 12px;
}

.ammapObjectList ul ul
{
    padding-left:14px;
}

.ammapObjectList a
{
    color:#000000;
}

.ammapObjectList a
{
    color:#000000;
    text-decoration:none;
    display:block;
    padding:2px;
}

.ammapObjectList a:hover
{
    color:#CC0000;
    text-decoration:none;
    background:#FFFFFF;
    cursor:pointer;
    display:block;
}

.ammapDescriptionText
{
	overflow: auto;
}


.amChartsPlotArea
{

}

.chartwrapper {
  width: 100%;
  margin: 0px auto;
  position: relative;
  padding-bottom: 50%;
}

.chartwrapper_peta {
    width: 100%;
    margin: 0px auto;
    position: relative;
    padding-bottom: 2%;
}
.chartdiv_pendidikan {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px dot-dash #ccc;
}

.legenddiv_pendidikan {
    width	: 100px;
    margin-top: 10px;
    position: absolute;
}

.chartdiv_perkawinan {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px dot-dash #ccc;
}

.legenddiv_perkawinan {
    width	: 100px;
    margin-top: 10px;
    position: absolute;
}
.chartdiv_stunting {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px dot-dash #ccc;
}

.legenddiv_stunting {
    width	: 100px;
    margin-top: 10px;
    position: absolute;
}
.chartdiv_kehamilan {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px dot-dash #ccc;
}

.legenddiv_kehamilan {
    width	: 100px;
    margin-top: 10px;
    position: absolute;
}
